/* grid */

/* .e-grid .e-rowcell.customcss{
    background-color: #ecedee;
    font-family: 'Bell MT';
    color: 'red';
    font-size: '20px';
} */
    
.e-grid .e-headercell.customcss{
    background-color: #818181;
    color: white;
    font-weight: bold;
}

/* .e-grid .e-headercell.e-sortfilterdiv{
    background-color: #818181;
    color: white;
    font-weight: bold;
} */

.feather-8{
    width: 8px;
    height: 8px;
  }

  .feather-12{
    width: 12px;
    height: 12px;
  }

  .feather-16{
    width: 16px;
    height: 16px;
  }

  .feather-24{
    width: 24px;
    height: 24px;
  }

  .feather-32{
    width: 32px;
    height: 32px;
  }


.invalid{
    border-color: rgb(254, 105, 105);
}



